header {
    background-color: #3474ff;
   
}

#logo{
    height: 40px;
}

#parte1{
color: darkgrey;
}
#parte2{
    color: aqua;
}

.spangiallo {background-color: yellow;}
#riga-evidenziata0{background-color: #3474ff;}
.riga-evidenziata {background-color: aquamarine;}